[Unit]
Description=Run services.sh to run Docker compose on boot
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/xeon/control/services.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

